
//01
$bgColors: #000950;
//02
$moduleBgColor: #0b1564;
$moduleOpacityBg: rgba(11,21,100,.5);
//03
$titleBgColor: #1c2992;
$bg04: #1c2992;

//分割线
//01
$segmentLine: #212f98;
$segmentLine02: #000950;
$segmentLine03: #2342a7;

//辅助色
$auxiliaryColor01: #0a1257;
$auxiliaryColor02: #131f80;
$auxiliaryColor03: #2342a7;
$auxiliaryColor04: #294fcc;
$auxiliaryColor05: #1252d0;
$auxiliaryColor06: #2e73ff;
$auxiliaryColor07: #47a2ff;
$auxiliaryColor08: #2342a7;
$auxiliaryColor09: #0a1257;
$auxiliaryColor10: #2342a7;
$auxiliaryColor11: #1c2992;
$auxiliaryColor12: #294fcc;
$auxiliaryColor13: #5891ff;

//字体颜色
//01
$primaryFontColor: #d3e2ff;
//02
$defautFontColor: #a1c2ff;
//03
$lightBluefontColor: #81abff;
//04
$darkBluefontColor: #5891ff;
//05
$orangefontColor: #ffcf2a;
//06
$wirtefontColor:#fff;
$fontColor07: #5891ff;
$fontColor08: #d3e2ff;
$fontColor09: #d3e2ff;
$fontColor10: #81abff;
$fontColor11: #294fcc;

//字体大小
$f16: 16px;
$f14: 14px;
$f12: 12px;

//指标颜色
$z01: #ff1013;
$z02: #fd9c03;
$z03: #f3ce00;
$z04: #3573c3;


$z05: #05b800;
$z06: #7cb424;
$z07: #f3c802;
$z08: #ff8f35;
$z09: #fc341e;


$z10: #66c916;
$z11: #f7cb2c;
$z12: #f77c12;
$z13: #f7000e;
$z14: #8b004c;
$z15: #7e0023;

//图表颜色
$e01:#5b67ff;
$e02:#2678ff;
$e03:#0e8cf6;
$e04:#00a2ff;
$e05:#00bbf0;
$e06:#00cab5;
$e07:#00d596;
$e08:#00be55;
$e09:#44b444;
$e10:#89cb15;
$e11:#f0dd06;
$e12:#ffb414;
$e13:#ff9d10;
$e14:#ff8420;
$e15:#ff703e;
$e16:#ff5f5f;
$e17:#ff52a8;
$e18:#f249e5;
$e19:#c34eff;
$e20:#a25eff;
$e21:#8c64ff;

