@import "theme/index";
body{
  background: rgba(1,18,63,.9) url("https://doddle.oss-cn-beijing.aliyuncs.com/images/bg.a75fdca.png") no-repeat;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
div,p,h1, h2,h3 {
  font-weight: normal;
  padding:0;
  margin:0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $primaryFontColor;
}

.frame-block{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.out-frame{
  position: relative;
  box-sizing: border-box;
  width:470px;
  height: 350px;
  margin:5px;
  border: 1px solid rgba(1,59,186,.5);
  background: rgba(0,90,194,.05);
  @mixin little-single{
    position: absolute;
    display: block;
    width:9px;
    height:9px;
    border:1px solid #1f5fd3;
  }
  &::before {
    content:'';
    @include little-single;
    bottom:-1px;
    right:-1px;
    border-top: none;
    border-left: none;
  }
  &::after {
    content:'';
    bottom:-1px;
    left:-1px;
    @include little-single;
    border-top: none;
    border-right: none;
  }
}
.analyse-chart{
  width:100%;
  height:100%;
}
.model-content{
  box-sizing: border-box;
  padding-top: 40px;
  height:100%;
  background: $moduleOpacityBg;
}
.tool-tip{
  padding:6px;
  &:after{
    content: '';
    position: absolute;
    transform: translate(50%,50%);
    border-style:solid;
    border-width:8px 6px 0 6px;
    border-color:rgba(50, 50, 50, 0.7) transparent  rgba(50, 50, 50, 0.7) transparent ;
    margin:6px 0 0 -8px;
  }
}

//布局代码
.module-position{
  position: absolute;
  top:0;
  left:0;
  &.pos-0-1{
    top:0;
    left:480px;
  }
  &.pos-0-2{
    top:0;
    left:960px;
  }
  &.pos-0-3{
    top:0;
    left:1440px;
  }
  &.pos-1-0{
    top:360px;
    left:0;
  }
  &.pos-1-1{
    top:360px;
    left:480px;
  }
  &.pos-1-2{
    top:360px;
    left:960px;
  }
  &.pos-1-3{
    top:360px;
    left:1440px;
  }
  &.pos-2-0{
    top:720px;
    left:0;
  }
  &.pos-2-1{
    top:720px;
    left:480px;
  }
  &.pos-2-2{
    top:720px;
    left:960px;
  }
  &.pos-2-3{
    top:720px;
    left:1440px;
  }
}
